

/* @media screen and (max-width:1230px) { */
    /* .mobView{
        
    } */
    .mobView{
        display: none;
    }
    .div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2%;
    
    }
    .div2{
        display: flex;
        width: 100%;
    
    }
    .div3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    /* .div3>h3{ */
        /* color: #2781CC; */
        /* color: #00BAC6; */
        /* color: #CCCCCC; */
    /* } */
    .tn_div_1{
        position: sticky; 
        top: 0;
        z-index: 10;
        border-radius: 5px solid black;
        width: 100%;
    }
    .tn_div_2{
        border-radius: px solid black;
    }
    .hrLine{
        border-bottom: 2px solid #18CFA8;
        height: 5px;
        width: 100%;
        margin:10px 0px 0px;
    }
    /* } */
    @media screen and (max-width:768px) {
    .mobView{
        display: block;
    }
    }